<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>Mensajes</title>
	<link rel="stylesheet" href="#" />
	
</head>
<body>
	<!-- comentario de lo que sea -->
	<header>
		<figure id="logo">
			<img src="#" />
		</figure>
		<h1 id="titulo_header">Mensajes</h1>
	</header>
	<section id="contenido">
	    {% if result_list %}
	    
	    {% for result in result_list %}
		<div class="item">
			<h2 class="titulo_item">
				<a href="{% url "messages" result.usuario.pk %}">{{result.message}}</a>
			</h2>
			 <p class="para">@<a href="{% url "messages" result.usuario.pk %}">{{result.usuario}}</a></p>
			 
			 {% if result.manage == 1 %}
			  <p class="para">enviado</a></p>
				
				{% else %}
				 <p class="para">recibido</a></p>

			 {% endif %}

		</div>
		{% endfor %}
		{% else %}
		    No tienes mensajes, envia uno.
		{% endif %}
	</section>

	<footer>
	</footer>
</body>
</html>









